Specific CSS for your home-page
.home {
  padding-left: 30px ;
  padding-right: 30px ;
}

.home-title {
  margin-left: 38px;
}

.content {
    // display: flex;
    background-color: white;
    padding-bottom: 20px;
  }

  .cards {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    padding: 14px;
    padding-left: 45px;
  }

  .index-head {
     background-color: $white;
     text-align: center;
     padding-top: 20px;
     color: $blue;
  }

 #map {
    width: 450px;
    height: 100vh;
    position: sticky;
    top: 0;
    border-radius: 10px !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px !important;
    margin-top: 15px;
    flex-grow: 1;
    margin-right:35px ;
  }

  /*Media Queries*/

  /*Smallest device*/
  @media (min-width: 100px) and (max-width: 575px) {
    .cards {
      grid-template-columns: 1fr;
    }
    #map {
      display: none;
    }
  }

  /*Small devices (landscape phones, 576px and up)*/
   @media (min-width: 576px) {
    .cards {
      grid-template-columns: 1fr 1fr;
    }
    #map {
      display: none;

    }
  }

  /*Medium devices (tablets, 768px and up)*/
  @media (min-width: 1200px) {
    .cards {
      grid-template-columns: 1fr 1fr 1fr;
    }
    #map {
      display: block;
    }
  }
