<div class="footer">
  <div class="footer-links">
    <div class="footer-created-by">
      <h4>Created by </h6>
    </div>
   <div>
    <a href="#"><i class="fa-solid fa-person"></i> Rupert</a>
    <a href="#"><i class="fa-solid fa-person"></i> Alex</a>
    <a href="#"><i class="fa-solid fa-person"></i> Ollie</a>
    <a href="#"><i class="fa-solid fa-person"></i> Rob</a>
   </div>
  </div>
  <div class="footer-copyright">
    Copyright FarmFresh.Ltd - 2022 <i class="fa-solid fa-copyright"></i>
  </div>
</div>
