<div class="card-product">
  <%= image_tag "apple.jpg" %>
  <div class="card-product-infos">
    <div class= "card-product-info">
      <h2 class= "product-title" >Braeburn Apples</h2>
      <h2 class= "product-price">£0.99</h2>
    </div>
    <p class= "card-description">Juicy juicy juicy apples, fresh from orchards in the blackdown hills in Somerset. Crisp, fresh, tangy and delicious.</p>
  </div>
</div>