.btn-farm {
    background-color: green;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
      // display: inline-block;
    font-size: 14px;

  }

  .btn-farm:hover {
    opacity: 0.5;
    color: white;
  }
