.footer {
    background: $dark_green;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0px 50px;
    color: $blue;
    border-top: 2px solid $blue;
    font-size: 12px;
  }
  .footer-links {
    display: flex;
    align-items: center;
  }
  .footer-links a {
    color: $blue;
    opacity: 1;
    text-decoration: none;
    font-size: 16px;
    padding: 0px 10px;
  }
  .footer-links a:hover {
    opacity: 0.2;
  }
  .footer .fa-heart {
    color: #D23333;
  }

  .footer-created-by {
    align-items: center;
    padding-top: 5px;
  }
