.mapboxgl-popup {
  max-width: 150px;
  border-radius: 5px;
}

.mapboxgl-popup-content {
  text-align: center !important;
  font-family: "Open Sans", sans-serif !important;
  opacity: 0.9 !important;
  border-radius: 8% !important;
}

.mapboxgl-ctrl-geocoder--input {
  background-color: #efead7b2 !important;
  border-radius: 45px !important;
  border: 1px, solid, #efead7b2 !important;
}

.mapboxgl-ctrl-geocoder {
  border-radius: 45px !important;
  font-size: 18px !important;
  border: #EFE8D7 !important;
}
