.navbar-lewagon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // background: $dark_green;
  color: $blue;
  height: 90px;




  background: $dark_green;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  margin-left: 35px;
  // border: 2px solid white;
}

#navbarDropdown {
  margin-right: 75px;
  margin-left: 35px;
}

.avatar {
  width: 75px;
  border-radius: 50%;
}
